@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #2196F3;
  --base-color:#F5F5F5;
  --text-color: #333333;
  --sub-color: #FF5722;
  --text-light-color: #808080;
  --error-color: #ff0f0f;
}
