@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --accent-color: #769CBF;
  --base-color:#E6E5E4;
  --text-color: #25271F;
  --sub-color: #f0e68c;
  --sub-color-hover: rgba(240, 230, 140, 0.6);
}
